.content {
  margin: 0rem 1rem 0rem 19.5rem;
  height: 38.7rem;
  width: 75rem;
  overflow-y: auto;
  scrollbar-width: none;
  animation: fadeInOut 1s ease-in-out;
}
@keyframes fadeInOut {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.stories {
  margin: 1rem 3rem 1rem 5rem;
}
.story {
  background: linear-gradient(to bottom left,  #005080, #00ffee);
  border-radius: 50%;
  width: 5.5rem;
  height: 5.5rem;
  padding: 0.25rem;
  margin: 0.5rem;
}

.posts {
  border: 2px solid #cccccc;
  width: 33rem;
  height: auto;
  margin: 1rem 1rem 1rem 8rem;
  border-radius: 0.5rem;
}

.useravatar {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  margin: 0.5rem 0rem 1rem 0.5rem;
}

.username {
  margin: 1.2rem 0rem 0rem 0.5rem;
}

.photo {
  width: 100%;
  height: auto;
}

.comment {
  width: 3.5rem;
  height: 3.5rem;
  scale: 0.7;
  position: relative;
  bottom: 0.1rem;
  right: 1rem;
}
.heart {
  width: 3.5rem;
  height: 3.5rem;
}

.like {
  margin: 0.5rem;
  font-size: small;
}
.caption {
  margin: 0rem 0rem 0rem 0.5rem;
}
.time {
  margin: 0rem 0rem 0rem 0.5rem;
}
.profphoto {
  width: 5rem;
  height: 5rem;
  border: 3px solid black;
  border-radius: 50%;
  margin-right: 1rem;
}
.viewprof {
  color: blue;
  font-weight: bold;
  margin: 0rem 0rem 0rem 3.3rem;
}
.profsection {
  border: 2px solid #cccccc;
  height: fit-content;
  margin: 5rem 0rem 0rem 5rem;
  border-radius: 1rem;
  padding: 0.5rem;
}
