.post{
    border: 2px solid gray;
    padding: 1.5rem;
    border-radius: 1rem;
}
.imgpost1{
    width: 30rem;
}
.imgpost2{
    width: 20rem;
}
.imgpost3{
    height: 28rem;
}
.postcontent{
    width: 25rem;
}
.useracc{
    margin: 0rem 0rem 1rem 1rem;
    border-bottom: 2px solid gray;
}
.useravatarsmall {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  margin: 0.5rem 0rem 1rem 0.5rem;
  bottom: 1rem;
  
}
.postcap{
    margin: 1rem 0rem 0rem 1rem;
}
.postcaption{
    word-wrap: break-word;
    width: 22rem;
    bottom: 1.2rem;
    left: 3rem; 
}
.follow{
    color: blue;
    font-size: large;
    font-weight: bold;
    top: 1.2rem;
    left: 8rem;
}
.commentsection{
    top: 0.75rem;
    padding-left: 0.5rem;
}
.postusername{
    bottom: 0.5rem;
}
.usercomment{
    bottom: 1.2rem;
    padding: 0.3rem;
}
.postcomments{
    bottom: 1.2rem;
    
}
.addcomment{
    width: 22rem;
    padding: 1rem 0rem 0rem 1rem;
    margin-left: 2rem;
    border-top: 2px solid gray;
}
.backbtn{
    font-size: large;
    font-weight: bold;
    width: 3rem;
    height: 3rem;
    padding: 0.5rem;
    border-radius: 50%;
    background-color: rgba(100, 100, 100, 0.25);
    cursor: pointer;
    margin-bottom: 1rem;
}