.regcard{
    height: fit-content;
    width: fit-content;
}
.showbtn{
    right: 3rem;
}
.passcont{
    left: 1.25rem;
}


.loadingbg {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1000000;
}

.loading {
  width: 3rem;
  height: 3rem;
  border: 6px solid white;
  border-top: 6px solid blue;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}


/* .signupbutton:hover{
    scale: 1.05;
    transition: ease-in-out;
    transition: 250ms;
    background-color: #ffffee;
    border: 2px solid black;
} */